body {
  font: icon;
}

textarea {
  height: 250px;
  width: 100%;
}

summary::before {
  color: silver;
  content: 'block';
  display: 'inline';
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0 0 0 2em;
}

li::before {
  color: silver;
  content: 'span ';
  display: inline;
}

span.key {
  color: gray;
}

span.key::before {
  content: ' ';
  display: inline;
}

span.key::after {
  content: ': ';
  display: inline;
}

span.value {
  /* font-family: monospace; */
}

span.value.string {
  color: maroon;
}

span.value.number {
  color: blue;
}
